<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap"
  rel="stylesheet"
/>

<header>
  <nav class="navbar navbar-expand-sm mb-0">
    <div class="container-fluid" style="background-color: #1e1e1f">
      <div class="d-flex justify-content-between">
        <a class="navbar-brand" style="padding-left: 15px" [routerLink]="['/']"
          >faceSPACE</a
        >
      </div>
      <div *ngIf="userService.user != null">
        <button
          pButton
          class="px-1 py-1 p-button-text"
          [disabled]="true"
          style="font-weight: 600"
        >
          {{ user.name }}
          <img
            style="margin-left: 10px"
            src="https://source.boringavatars.com/beam"
            alt="”Image”"
            height="30px"
            width="30px"
          />
        </button>
      </div>
      <div class="d-flex flex-row">
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-nav" [routerLink]="['/']">Home</a>
          </li>
          <li
            *ngIf="userService.user != null"
            class="nav-item d-flex align-items-center"
          ></li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-nav" [routerLink]="['/rooms-list']">ROOMS</a>
          </li>
          <li
            *ngIf="userService.user != null"
            class="nav-item d-flex align-items-center"
          >
            <button pButton class="sign-out-button py-1" (click)="signOut()">
              SIGN OUT
            </button>
          </li>
          <li
            *ngIf="userService.user == null"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-nav" [routerLink]="['/login']">LOGIN</a>
          </li>
          <li
            *ngIf="userService.user == null"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-nav" [routerLink]="['/registration']"
              >SIGN UP</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
