.chat {
  background-color: rgb(194 205 218);
}

.webcam-grid {
  background-color: #212222cf;
}

.container {
  display: flex;
  justify-content: center;
  height: 87vh !important;
  margin-top: 1% !important;
}

.chat-header {
  background-color: #ffffff66;
  width: fit-content;
  border-radius: 8px;
  padding: 8px;
  padding-bottom: 3px;
  margin: 17px;
  margin-bottom: 0px;
  color: rgb(37, 37, 39);
}

.chat-content {
  padding: 20px;
  height: 75vh !important;
  overflow-y: scroll !important;
}

.chat-message {
  background-color: #ffffff66;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message-header {
  font-size: 12px;
  color: rgb(60, 60, 61);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
}

.message-content {
  font-size: 14px;
  padding: 2px;
}

#chat::-webkit-scrollbar {
  width: 10px;
}

#chat::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

#chat::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(152, 181, 214);
}

.button-group {
  background-color: rgb(19 19 19);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6% !important;
}

.webcam-grid {
  max-width: 100%;
  height: 94% !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  overflow: scroll;
}
