<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap"
  rel="stylesheet"
/>

<p-toast></p-toast>
<div class="container-fluid col-12">
  <div class="row d-flex justify-content-center">
    <div class="card col-5 d-flex flex-column justify-content-center mt-4 px-4">
      <h3
        style="font-family: 'Konkhmer Sleokchher', sans-serif"
        class="text-uppercase text-center mt-3"
      >
        LIST OF CONFERENCE ROOMS
      </h3>

      <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-left">ROOM NAME</th>
            <th scope="col" class="text-center align-middle">
              <i class="pi pi-users" style="font-size: 1.35rem"></i>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <th scope="row" class="text-center align-middle">{{ room.id }}</th>
            <td class="text-left align-middle">
              <div class="col-12 d-flex justify-content-between">
                <div class="col-7">
                  {{ room.roomName }}
                </div>
                <div
                  class="col-5 d-flex justify-content-end align-items-center"
                >
                  <i
                    *ngIf="room.invited"
                    style="margin-right: 10px"
                    class="fa-solid fa-star"
                    pTooltip="You have been invited to this room." 
                  ></i>
                  <i
                    *ngIf="room.roomPassword"
                    style="margin-right: 10px"
                    class="lock-icon fa-solid fa-lock"
                    pTooltip="Room access is protected with password."
                  ></i>

                  <i
                    *ngIf="room.enableChat"
                    style="margin-right: 10px"
                    class="enabled-icon fa-solid fa-comment"
                    pTooltip="Chat is enabled."
                  ></i>
                  <i
                    *ngIf="!room.enableChat"
                    style="margin-right: 10px"
                    class="disabled-icon fa-solid fa-comment-slash"
                    pTooltip="Chat is disabled."
                  ></i>

                  <i
                    *ngIf="room.enableVideo"
                    class="enabled-icon fa-solid fa-video"
                    pTooltip="Room with both video and audio."
                  ></i>
                  <i
                    *ngIf="!room.enableVideo"
                    class="disabled-icon fa-solid fa-video-slash"
                    pTooltip="Audio-only room."
                  ></i>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              {{ room.count }}/{{ room.participants }}
            </td>
            <td class="d-flex justify-content-center align-items-center">
              <button
                pButton
                pRipple
                label="JOIN"
                [routerLinkActive]="['link-active']"
                [routerLink]="['/waiting-room']"
                [queryParams]="{ id: room.id }"
                style="font-weight: 600"
                class="join-button p-button-help text-uppercase w-100"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        pButton
        pRipple
        label="Create room"
        style="font-weight: 600"
        class="create-button mt-1 mb-3 p-button-secondary text-uppercase w-100"
        (click)="createOwnRoom()"
      ></button>
    </div>
  </div>
</div>
