.login-card {
    border-radius: 10px;
    // background-color: #8A407D;
    color: white;
    background: rgb(138,64,125);
    background: linear-gradient(90deg, rgb(168, 68, 150) 0%, rgb(177, 108, 165) 100%);
}